<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form đăng nhập</title>
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <div class="container">
      <h2>Đăng nhập</h2>
      <form action="/login" method="post">
        <div class="form-control">
          <label>Tên đăng nhập:</label>
          <input type="text" id="username" name="name" placeholder="Nhập tên đăng nhập" required>
        </div>
        <div class="form-control">
          <label>Mật khẩu:</label>
          <input type="password" id="password" name="password" placeholder="Nhập mật khẩu" required>
        </div>
        <button type="submit" class="btn">Đăng nhập</button>
        <h3>Chưa có tài khoản ?
        <a href="/signup">Đăng ký</a></h3>
      </form>
    </div>
  </body>
</html>